body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1, h2 {
  text-align: center;
}

section, code, #rect {
  margin: auto auto;
}

section {
  width: 30%;
  display: flex;
  border: 2px solid black;
  margin-bottom: 5px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
}

code {
  background-color: black;
  color: white;
  display: block;
}